[Unit]
Description=ssh tunnel service
After=network.target sshd.service

[Service]
Type=exec
ExecStart=/usr/bin/autossh -M 0 -N -R8554:localhost:8554 moosethebrown@moosethebrown.ru
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
